<div>
    <h1>Inicia sesion</h1>
    <div>
        <form id="loginForm" method="POST" action="/api/users">
            <label>EMAIL</label>
            <input name = "email"></input>
            <label>NOMBRE</label>
            <input name = "nombre"></input>
            <label>APELLIDO</label>
            <input name = "apellido"></input>
            <label>EDAD</label>
            <input name = "edad" type="number"></input>
            <label>ALIAS</label>
            <input name = "alias"></input>
            <label>AVATAR</label>
            <input name = "avatar"></input>
            <input type="submit">
        </form>
    </div>
</div>
